@import url('https://fonts.googleapis.com/css2? family= Lobster & family= Poppins:ital,wght@1,300;1,400;1,600;1,700 & display=swap');
:root{
    --padding-container: 100px 0;
    --color-title: #001a49;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 22%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.hero{
    width: 100%;
    height: 100vh;
   
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color:hotpink
}


.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     margin: 0 auto;
    background-image: linear-gradient(10deg, #0000008c 0%, #0000008c 10%), url('../images/kevin-butz-sZj8qOt3yTU-unsplash.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 81% 85%, 50% 95%, 20% 85%);
    z-index: -1;
    
     


}
.nav_container{
    position: relative;
    margin: 0 auto;
    background-color: rgb(255, 199, 243);
}
.nav{
    --padding-container:0;
     height: 100%;
     display: flex;
     align-items: center;
     
}
.nav_title{
    font-weight: 300;
}

.nav_link{
    margin-left: auto;
    padding: 0;
    
}
.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_img{
    display: block;
    width: 30px;
}
.nav_items{
    list-style: none;
}
.nav_links{
    color: #fff;
    text-decoration: none;
}
.hero_container-container{
    align-items: center;
    margin: 0 auto;
    position: relative;
    --padding-container:0;
    display: grid;
    
}
.hero_title{
    display: contents;

    font-size: 500%;
}
.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align: center;

}
.container_about{
    margin: 0 auto;
    align-items: center;
    align-content: center;
    background-color: #fff;
}
.about_icon{
    margin: 0 auto;
    display: flex;
}



.about{
    text-align: center;
}
.subtitle{
    color: var(--color-title);
    margin-bottom: 25px;
    font-size: 2rem;
}
.about_paragraph{
    line-height: 1.7;
}

/* Knowledge */
.knowledge{
    background-color: #e5e5f7;
opacity: 0.8;
background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
overflow: hidden;

}
.knowledge_container{
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.knowledge_picture{
    max-width: 500px;
}
.knowledge_img{
    width: 100%;
    display: block;

}
.parts_picture{
    max-width: 1000px;
}
.parts_img{
    width: 101%;
    display: block;

}
.parts{
    background-color: #f1f7e5;
opacity: 0.8;
background-image:  radial-gradient(#53f744 0.5px, transparent 0.5px), radial-gradient(#f7dc44 0.5px, #ababf8 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
overflow: hidden;

}
.info{
    background-color: #f1f7e5;
opacity: 0.8;
background-image:  radial-gradient(#53f744 0.5px, transparent 0.5px), radial-gradient(#f7dc44 0.5px, #6060f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
overflow: hidden;
 
}
.information{
    display: grid;
    text-align: center;
}